:root {
  --element-width: 85vw;
}

* {
  /*what is border-box box-sizing?*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("Images/logo.png");
  background-repeat: repeat;
  margin: 0;
}

main {
  display: flex;
  flex-flow: column;
  padding: none;
  margin: none;
  /*** why does align-items work and not justify-content when centering all
   * items on main??? ***/
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  width: var(--element-width);
  height: 80vh;
}

/***
 * position to absolute
 * inset=0 makes top left right and bottom of the image 0 makes stretch to fill
 * opacity to 0 makes image not visible. Active image will be made visible in
 * .slide[data-active] class below ***/
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
}

.slide > img {
  width: 100%;
  height: 100%;
  /* object-fit: so that the image covers the entire screen and maintain aspect
   * ratio. object-position to focus on center of image. ***/
  object-fit: cover;
  object-position: center;
}

/***
 * styling for the html entities, which are arrows ***/
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  z-index: 4;

  /* centers buttons to middle of page */
  top: 50%;

  /* actually centers buttons to middle of page?????? */
  transform: translateY(-50%);

  color: rgba(255, 255, 255, 0.5);

  cursor: pointer;

  border-radius: 0.25rem;

  padding: 0 0.5rem;

  background-color: rgba(0, 0, 0, 0.1);
}

/***
 * Accesibility: for people navigating with the tab button for example!! ***/
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

/*** for some reason this effect is not taking place. Theres no outline for
 * example ***/
.carousel-button:focus {
  outline: 1px solid black;
}

/*** position previous button 1rem away from the left side of the page ***/
.carousel-button.prev {
  left: 1rem;
}

/*** position next button 1rem away from the right side of the page ***/
.carousel-button.next {
  right: 1rem;
}
/***
 * END CAROUSEL STYLING
 * ***/

header {
  position: absolute;
  display: flex;
  width: 1000px;
}

/***
 * <header> tag class
 * creates "persistent" navbar at top of webpage ***/
.navbar {
  background: black;
  display: flex;
  height: auto;
  width: 100%;
  font-size: 1.5rem;
  position: -webkit-sticky;
  position: sticky; /*Ensures that navbar stays at the top of the page when scrolling*/
  z-index: 999; /* Ensure that navbar is always on top of all page content*/
  top: 0;
  box-shadow: 0px 10px 30px 10px white;
}

.navbar__container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center; /*Elements in container are centered to the middle, vertically about the vertical axis*/
  align-items: center; /* Elements are aligned horizontally on the horizontal axis of the navbar container*/
  width: 100%;
}

/*** <a> tag container:
 * default display of an <a> tag is inline = min width, min height
 * display set to inline-flex = min width, custom height, flex children 
 * this <a> tag is a child element of <div> block container of class .navbar-container
 * links to the main page index.html and should be included in all other pages ***/
.navbar-logo-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100px;
}

.navbar-logo {
  display: flex;
  height: 100%;
}

/***
 * <h1> tag class
 * WINGS EL GORDO ***/
.navbar-title {
  display: flex; /* enables a link to have a with and height*/
  justify-content: center;
  align-items: center;
  height: auto;
  color: white;
  z-index: 10;
  font-family: Sans-Serif;
}

/*** <ul> tag container:
 * default display of a <ul> tag is block = full width (new line), has margin
   before and after. Other default ul styling is padding left and margin top and bottom.
 * set display to inline-flex = min width flex element ***/
.navbar__menu {
  display: inline-flex; /* enables alignment of navbar menu-items*/
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50%;
}

.navbar__item {
  display: flex;
  height: auto;
}

.navbar__links {
  color: #fff;
  font-size: 20pt;
  font-family: Arial;
  align-items: center;
  text-decoration: none; /*removes link underlining*/
  padding: 2rem 2rem;
}

.navbar--button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

/*Online Order button*/
/*** <a> tag class
 * makes a button out of an a tag that changes color upon hovering.***/
.order-button {
  display: flex;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  border-radius: 10px;
  background: orange;
  color: #ffff;
}

/* adds hover effect to "Online Order" button*/
.order-button:hover {
  -webkit-text-fill-color: #131313;
  background: #4837ff;
  transition: all 0.5s ease;
}

/* adds hover effect to links*/
.navbar__links:hover {
  color: red;
  transition: all 0.3s ease;
}

/*** <header> container ***/
.insta-header {
  display: flex;
  width: var(--element-width);
  justify-content: center;
  align-items: center;
}

/*** <h2> container
 * parent container is .insta-header class***/
.insta-at {
  width: 100%;
  background: pink;
  text-align: center;
  border-radius: 20px;
}

/*** Top portion was included ***/
.instagram-media {
  /*** TOP Portion ***/
  background: #fff;
  border: 0;
  border-radius: 30px;
  box-shadow:
    0 0 1px 0 rgba(0, 0, 0, 0.5),
    0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  width: 85vw;
  height: 100%;

  /*** BOTTOM Portion ***/
  margin: 25px 0px;
}

footer {
  display: block;
  width: 100vw;
  height: 100px;
  position: sticky;
  bottom: 0vh;
  background: black;
}
